.article {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding: 1.7rem 0;
  .article-flex {
    display: flex;
    margin: 0 0 1rem;
    .article-img {
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
    }
    .info {
      margin: 0 1.5rem 0 0.3rem;
      display: inline-block;
      vertical-align: middle;
      .author {
        display: block;
        font-weight: 500 !important;
        color: #5cb85c;
      }
      .date {
        color: #bbb;
        font-size: 0.8rem;
      }
    }
  }
  h2 {
    font-weight: 600 !important;
    font-size: 1.5rem !important;
    margin-bottom: 3px;
  }
  p {
    font-weight: 300;
    color: #999;
    margin-bottom: 15px;
    font-size: 1rem;
    line-height: 1.3rem;
  }
  ul {
    float: right;
    max-width: 50%;
    vertical-align: top;
    .tag-list {
      padding-left: 0 !important;
      display: inline-block;
      list-style: none !important;
    }
    li {
      display: inline-block !important;
    }
  }
  ul,
  li {
    font-weight: 300;
    font-size: 0.8rem !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
}

.tag-btn {
  border: 1px solid #ddd;
  color: #aaa !important;
  background: 0 0 !important;
  margin-right: 3px;
  margin-bottom: 0.2rem;
  padding-right: 0.6em;
  padding-left: 0.6em;
  border-radius: 10rem;
}

li {
  list-style: none;
}
ul {
  margin-bottom: 1rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
