.footer {
  background: #f3f3f3;
  text-align: center;
  padding: 2rem 0;
  span {
    color: #5cb85c;
  }
  p {
    font-size: 0.8rem;
    color: #bbb;
  }
}
.footer-heading {
  font-size: 1.2rem;
  font-weight: 600;
}
