.article {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding: 1.7rem 0;
}

.article .single-article-bg {
  background: #333333;
  padding: 2rem 0;
  margin-bottom: 2rem;
  color: #fff;
}

.article .single-article-title {
  font-size: 2.8rem;
  color: #fff;
  margin-bottom: 2.2rem;
}

.article .article-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 1rem;
}

.article .article-flex .article-img {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}

.article .article-flex .info {
  margin: 0 1.5rem 0 0.3rem;
  display: inline-block;
  vertical-align: middle;
}

.article .article-flex .info .author {
  display: block;
  font-weight: 500 !important;
  color: #5cb85c;
}

.article .article-flex .info .date {
  color: #bbb;
  font-size: 0.8rem;
}

.article h2 {
  font-weight: 600 !important;
  font-size: 1.5rem !important;
  margin-bottom: 3px;
}

.article p {
  font-weight: 300;
  color: #999;
  margin-bottom: 15px;
  font-size: 1rem;
  line-height: 1.3rem;
}

.article ul {
  float: right;
  max-width: 50%;
  vertical-align: top;
}

.article ul .tag-list {
  padding-left: 0 !important;
  display: inline-block;
  list-style: none !important;
}

.article ul li {
  display: inline-block !important;
}

.article ul,
.article li {
  font-weight: 300;
  font-size: 0.8rem !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.tag-btn {
  border: 1px solid #ddd;
  color: #aaa !important;
  background: 0 0 !important;
  margin-right: 3px;
  margin-bottom: 0.2rem;
  padding-right: 0.6em;
  padding-left: 0.6em;
  border-radius: 10rem;
}

li {
  list-style: none;
}

ul {
  margin-bottom: 1rem;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.article-border-non {
  border: 0;
}

.single-article-body p {
  font-size: 1.2rem;
  line-height: 1.8rem;
  margin-bottom: 1.6rem;
}

.footer {
  background: #f3f3f3;
  text-align: center;
  padding: 2rem 0;
}

.footer span {
  color: #5cb85c;
}

.footer p {
  font-size: 0.8rem;
  color: #bbb;
}

.footer-heading {
  font-size: 1.2rem;
  font-weight: 600;
}

.container-header {
  width: 90%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem 0;
}

.container-header .logo {
  font-size: 22px;
  color: #5cb85c;
  font-weight: 700;
  text-decoration: none;
}

.container-header .nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container-header .nav-bar .nav-list {
  cursor: pointer;
  padding-left: 14px;
  font-size: 14px;
  color: #b2b2b2;
  text-decoration: none;
}

.container-header .nav-bar .nav-list:hover {
  color: #333333;
}

.container-header .nav-bar .active {
  color: #333333;
}

.header-hero {
  background: #5cb85c;
  text-align: center;
  color: #fff;
  -webkit-box-shadow: inset 0 8px 8px -8px rgba(0, 0, 0, 0.3), inset 0 -8px 8px -8px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 8px 8px -8px rgba(0, 0, 0, 0.3), inset 0 -8px 8px -8px rgba(0, 0, 0, 0.3);
  padding: 2rem;
  margin-bottom: 2rem;
}

.header-hero h2 {
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  font-weight: 700 !important;
  text-align: center;
  font-size: 3.5rem;
  padding-bottom: 2rem;
}

.header-hero p {
  color: #fff;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 300 !important;
  margin-bottom: 0;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -15px;
  margin-right: -15px;
}

.flex .article-div {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  max-width: 70%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 70%;
          flex: 0 0 70%;
}

.flex .tag-div {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  max-width: 25%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
}

.flex .tag-div .tag-sidebar {
  padding: 5px 10px 10px;
  background: #f3f3f3;
  border-radius: 4px;
}

.flex .tag-div .tag-sidebar p {
  margin-bottom: 0.5rem;
}

.flex .tag-div .tag-sidebar .single-tag {
  color: #fff !important;
  font-size: 0.8rem;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  white-space: nowrap;
  margin-right: 3px;
  margin-bottom: 0.2rem;
  display: inline-block;
  background-color: #818a91;
  padding-right: 0.6em;
  padding-left: 0.6em;
  border-radius: 10rem;
  outline: none;
  font-weight: 300;
}

.form-container {
  width: 50%;
  margin: 0 auto;
  padding-top: 2rem;
  text-align: center;
  padding-bottom: 35vh;
}

.form-container .form-control {
  width: 100%;
  border: solid 1px #cacad3;
  padding: 0.75rem 1.5rem;
  font-size: 1.25rem;
  border-radius: 0.3rem;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  margin-bottom: 20px;
  opacity: 0.5;
}

.form-container .article-form-control {
  font-size: 1rem;
  padding: 0.5rem 1.5rem;
}

.form-container .form-heading {
  padding-bottom: 2rem;
  line-height: 1.3;
}

.form-container .form-heading h2 {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}

.form-container .form-heading .form-subheading {
  color: #5cb85c;
}

.btnRegisterLogin {
  float: right;
  padding: 0.75rem 1.5rem;
  font-size: 1.25rem;
  border-radius: 0.3rem;
  color: #fff;
  background-color: #5cb85c;
  border-color: #5cb85c;
}

.logout-button {
  padding-top: 5.5rem;
  float: left;
}

.logout-button .btn-logout {
  color: rgba(255, 0, 0, 0.774);
  border: 1px solid rgba(255, 0, 0, 0.774);
  padding: 0.8rem 1.2rem;
  font-size: 1.125rem;
  background: #fff;
  border-radius: 4px;
}

.logout-button .btn-logout:hover {
  background-color: rgba(255, 0, 0, 0.774);
  color: #fff;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.container {
  width: 90%;
  margin: 0 auto;
}

a {
  text-decoration: none;
}
/*# sourceMappingURL=main.css.map */